body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 1rem;
   font-size: 16px;
   color: #444;
}

h1, h2, h3, h4, h5, h6 {
   font-family: Inter, sans-serif;
   font-weight: 600;
   color: #222;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

a {
   text-decoration: none;
   color: #3b82f6;
}

a:hover, a:focus  {
   color: #1d4ed8;
}

#navbar {
   padding: 8px;
   margin: 0;
}

#logo {
   height: 30px;
}

#banner {
   object-fit: cover;
   width: 100%;
}

#about {
   display: flex;
   max-width: 800px;
   margin: 0 auto;
   padding: 8px;
}

#description {
   width: 50%;
   padding: 0 8px;
   font-size: 1.25rem;
}

#team {
   width: 50%;
}

#team-img {
   border-radius: 5px;
   width: 100%;
}

h1 {
   text-align: center;
}

#banner {
   width: 100%;
}

h2 {
   text-align: center;
}

#jobs {
   max-width: 800px;
   margin: 0 auto;
   padding: 0 8px;
}

#jobs-table {
   width: 100%;
   border: 1px solid gray;
   border-collapse: collapse;
}

#jobs-table tr:nth-child(odd) {
   background-color: #EEF2FF;
}

.jobs-header-row th {
   border: 1px solid gray;
   padding: 8px;
   background-color: #dbeafe;
   color: #222;
}

.jobs-data-row td {
   border: 1px solid gray;
   padding: 8px;
}

h3 {
   margin-bottom: 4px;
   margin-top: 0px;
}

.apply {
   float: right;
}

#application {
   max-width: 800px;
   margin: 0 auto;
   padding: 0 8px;
}

.form-group {
   margin: 16px 0;
}

.form-group textarea {
   width: 80%;
   font-family: 'Roboto', sans-serif;
}

.form-group input[type="checkbox"] {
   width: 16px;
   height: 16px;
}

#application-form label {
   font-weight: 600;
}

#application-form input, select, textarea {
   padding: 8px;
   font-size: 1.25rem;
   margin-top: 4px;
   border-radius: 5px;
   border: 1px solid gray;
}

.form-group button[type="submit"] {
   background-color: #3b82f6;
   color: #fff;
   font-weight: bold;
   padding: 16px;
   cursor: pointer;
   font-size: 1.25rem;
   border-radius: 5px;
}

#footer {
   background-color: #fafafa;
   padding: 8px;
   margin-top: 32px;
   text-align: center;
}

#footer-links {
   list-style: none;
}

#footer-links li {
   display: inline;
   margin: 0 16px;
}

.copyright {
   color: #71717a;
   font-size: 0.875rem;
}